<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
>
  <coverage
          processUncoveredFiles="true"
          cacheDirectory="./tmp/codecoverage-cache"
  >
    <include>
      <file>./lib/A.php</file>
      <file>./lib/B.php</file>
      <file>./lib/C.php</file>
      <file>./lib/D.php</file>
    </include>
  </coverage>
  <testsuite name="Foo">
    <directory>./tests</directory>
  </testsuite>
</phpunit>
